<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-text-center">
    <h4>About Us</h4>
  </div>
<div class="row">
  <!-- <div class="col-md-6">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="ion-text-center">Company Address</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <div>
      <strong>Founder, Promoter:</strong>
    </div>

<div>
                    <p>Bharat Acharya</p>
                    </div>
                    <div>

                    <strong>A division of Bharat Academy Registered address:</strong>
</div>
<div>
                    <p>1, Vagholkar Apts, RS Road, Chendani, Thane West. Pin: 400601.</p>
                    </div>
                    <div>

                    <strong>Mobile:</strong>
                    </div>
                    <div>

                    <p>9820408217</p>
                    </div>
                    <div>

                    <strong>Landline</strong>
                    </div>
                    <div>

                    <p>02225408086</p>
                    </div>
                    <div>
                      <strong>Email</strong>

                    </div>
                    <div >
                 <p>     <ion-icon name="send"></ion-icon> &nbsp;

                  <a href="mailto:bharatacharyaeducation@gmail.com" target="_top"
                    class="frontend-enhanced-title">bharatacharyaeducation@gmail.com</a></p>

                    </div>
    </ion-card-content>
  </ion-card>
</div> -->
  <div class="col-md-6">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle class="ion-text-center">Social links</ion-card-subtitle>
      </ion-card-header>
    
      <ion-card-content>
        <div>
              <strong>Website:</strong>
        </div>
        <div>

              <p>    <ion-icon name="browsers"></ion-icon> &nbsp;

                <a href="http://indicitihasa.com/" target="_blank"
                    class="frontend-enhanced-title">www.indicitihasa.com</a></p>
        </div>
        <div>
          <strong>Email:</strong>
    </div>
    <div>

          <p>    <ion-icon name="archive"></ion-icon> &nbsp;

            <a href="javascript:void()"
                class="frontend-enhanced-title">indicitihasa@gmail.com</a></p>
    </div>   

   <div>
              <strong>YouTube:</strong>
            </div>
            <div>
              <p>  <ion-icon ios="logo-youtube" md="logo-youtube"></ion-icon>
                <a
                      href="https://youtube.com/channel/UC46ZrrZZSIGipWopgVL6kYA" target="_blank"
                      class="frontend-enhanced-title"> &nbsp; Indic Itihasa
</a></p>
          </div>
          <div>
              <strong>Facebook:</strong>
          </div>
          <div>

              <p>        <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
                <a
                      href="https://www.facebook.com/indic_itihasa" target="_blank"
                      class="frontend-enhanced-title"> &nbsp; Indic Itihasa
</a></p>
         </div>
         <div>

      <strong>Instagram:</strong>
    </div>
    <div>
      <p>  <ion-icon ios="logo-instagram" md="logo-instagram"></ion-icon>
        <a
              href="https://www.instagram.com/indic_itihasa" target="_blank"
              class="frontend-enhanced-title"> &nbsp; Indic Itihasa
</a></p>
            </div>
            <div>
      <strong>Developed By:</strong>
    </div>
    <div>
      <p>   <ion-icon name="bug"></ion-icon>

        <a href="javascript:void()"> <span class="frontend-enhanced-title"> Shubham Gupta & Gyanesh Gupta</span></a>
      </p>
      </div>
      </ion-card-content>
    </ion-card>
  </div>
</div>




 

</ion-content>
<!-- <ion-footer class="ion-f">
  <ion-toolbar>
    <div class="ion-text-center">Terms and condition | Privacy Policy | Refund Policy
    </div>
      <div class="ion-text-center">
      Copyright © Indic Itihasa
 2020 All rights reserved.</div>
  </ion-toolbar>
</ion-footer> -->

